extends layout

block content
  h1= title
  form(method='post')
                | Enter the new wine
                div
                    | Label  
                    input(type='text', name='Label')
                div
                    | Appellation  
                    input(type='text', name='Appellation')
                div
                    each item in cols
                        input(type='radio', name='colors', value='#{item}')
                        | #{item}
                        br    
                div
                    input(type="submit", value="Insert")